<%- include('head.ejs') %>
<%- include('user-corner.ejs') %>

<header>
  <div>
      <a href="/new-user">create account</a>
      <h1>Cathedral</h1>
      <a>how to play</a>
  </div>
</header>

<div id="main-container">
  <div class="game-type">
    <h2>vs. Online</h2>
    <img class="game-type-icon" src="../images/vs-net.png">
  </div>
  <div class="game-type">
    <h2>vs. Computer</h2>
    <img class="game-type-icon" src="../images/vs-computer.png">
  </div>
  <div class="game-type">
    <h2>vs. Human</h2>
    <img class="game-type-icon" src="../images/vs-hot-seat.png">
  </div>
</div>