<%- include('head.ejs') %>

<div id="form-box">
  <h2>Login</h2>
  <form>
      <div>
          <label for="userName">user name:</label>
          <input type="text" name="userName" id="userName">
      </div>
      <div>
          <label for="email">email:</label>
          <input type="email" name="email" id="email">
      </div>
      <div>
          <label for="password">password:</label>
          <input type="password" name="password" id="password">
      </div>
      <div>
          <label for="confirmPassword">password:</label>
          <input type="password" name="confirmPassword" id="confirmPassword">
      </div>
      <div>
        <button type="submit">Make Me!</button>
      </div>
  </form>
</div>